In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

df=pd.read_csv("Data.csv")
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [3]:
# Apply OneHotEncoding on the "Country" column
one_hot_encoder = OneHotEncoder()
country_encoded = one_hot_encoder.fit_transform(df[['Country']]).toarray()
country_encoded_df = pd.DataFrame(country_encoded, columns=one_hot_encoder.get_feature_names_out(['Country']))

# Apply LabelEncoding on the "Purchased" column
label_encoder = LabelEncoder()
df['Purchased'] = label_encoder.fit_transform(df['Purchased'])

# Combine the encoded columns with the original dataframe
df = pd.concat([country_encoded_df, df[['Age', 'Salary', 'Purchased']]], axis=1)

print(df)

   Country_France  Country_Germany  Country_Spain   Age   Salary  Purchased
0             1.0              0.0            0.0  44.0  72000.0          0
1             0.0              0.0            1.0  27.0  48000.0          1
2             0.0              1.0            0.0  30.0  54000.0          0
3             0.0              0.0            1.0  38.0  61000.0          0
4             0.0              1.0            0.0  40.0      NaN          1
5             1.0              0.0            0.0  35.0  58000.0          1
6             0.0              0.0            1.0   NaN  52000.0          0
7             1.0              0.0            0.0  48.0  79000.0          1
8             0.0              1.0            0.0  50.0  83000.0          0
9             1.0              0.0            0.0  37.0  67000.0          1

In [4]:
df2=pd.read_csv("Employee.csv")
df2.head()

   Company   Age  Salary     Place Country  Gender
0      TCS  20.0     NaN   Chennai   India       0
1  Infosys  30.0     NaN    Mumbai   India       0
2      TCS  35.0  2300.0  Calcutta   India       0
3  Infosys  40.0  3000.0     Delhi   India       0
4      TCS  23.0  4000.0    Mumbai   India       0

In [14]:
# Apply OneHotEncoding on the "Country" column
one_hot_encoder = OneHotEncoder()
Company_encoded = one_hot_encoder.fit_transform(df2[['Company']]).toarray()
Company_encoded_df2 = pd.DataFrame(Company_encoded, columns=one_hot_encoder.get_feature_names_out(['Company']))
# Apply OneHotEncoding on the "Place" column
one_hot_encoder = OneHotEncoder()
Place_encoded = one_hot_encoder.fit_transform(df2[['Place']]).toarray()
Place_encoded_df2 = pd.DataFrame(Place_encoded, columns=one_hot_encoder.get_feature_names_out(['Place']))

df2['Country'] = df2['Country'].replace('India', 1)

# Combine the encoded columns with the original dataframe
df2 = pd.concat([Company_encoded_df2, df2[['Age', 'Salary']],Place_encoded_df2,df2[['Gender']]], axis=1)

print(df2)

     Company_CTS  Company_Congnizant  Company_Infosys  \
0            0.0                 0.0              0.0
1            0.0                 0.0              1.0
2            0.0                 0.0              0.0
3            0.0                 0.0              1.0
4            0.0                 0.0              0.0
..           ...                 ...              ...
143          0.0                 0.0              0.0
144          0.0                 0.0              1.0
145          0.0                 0.0              1.0
146          0.0                 0.0              0.0
147          0.0                 0.0              1.0

     Company_Infosys Pvt Lmt  Company_TCS  Company_Tata Consultancy Services  \
0                        0.0          1.0                                0.0
1                        0.0          0.0                                0.0
2                        0.0          1.0                                0.0
3                        0.0          0.0                                0.0
4                        0.0          1.0                                0.0
..                       ...          ...                                ...
143                      0.0          1.0                                0.0
144                      0.0          0.0                                0.0
145                      0.0          0.0                                0.0
146                      0.0          1.0                                0.0
147                      0.0          0.0                                0.0

     Company_nan   Age  Salary  Place_Bhopal  ...  Place_Cochin  Place_Delhi  \
0            0.0  20.0     NaN           0.0  ...           0.0          0.0
1            0.0  30.0     NaN           0.0  ...           0.0          0.0
2            0.0  35.0  2300.0           0.0  ...           0.0          0.0
3            0.0  40.0  3000.0           0.0  ...           0.0          1.0
4            0.0  23.0  4000.0           0.0  ...           0.0          0.0
..           ...   ...     ...           ...  ...           ...          ...
143          0.0  33.0  9024.0           0.0  ...           0.0          0.0
144          0.0  22.0  8787.0           0.0  ...           0.0          0.0
145          0.0  44.0  4034.0           0.0  ...           0.0          1.0
146          0.0  33.0  5034.0           0.0  ...           0.0          0.0
147          0.0  22.0  8202.0           0.0  ...           1.0          0.0

     Place_Hyderabad  Place_Mumbai  Place_Nagpur  Place_Noida  \
0                0.0           0.0           0.0          0.0
1                0.0           1.0           0.0          0.0
2                0.0           0.0           0.0          0.0
3                0.0           0.0           0.0          0.0
4                0.0           1.0           0.0          0.0
..               ...           ...           ...          ...
143              0.0           0.0           0.0          0.0
144              0.0           0.0           0.0          0.0
145              0.0           0.0           0.0          0.0
146              0.0           1.0           0.0          0.0
147              0.0           0.0           0.0          0.0

     Place_Podicherry  Place_Pune  Place_nan  Gender
0                 0.0         0.0        0.0       0
1                 0.0         0.0        0.0       0
2                 0.0         0.0        0.0       0
3                 0.0         0.0        0.0       0
4                 0.0         0.0        0.0       0
..                ...         ...        ...     ...
143               0.0         0.0        0.0       1
144               0.0         0.0        0.0       1
145               0.0         0.0        0.0       1
146               0.0         0.0        0.0       1
147               0.0         0.0        0.0       0

[148 rows x 22 columns]